[Unit]
Description=RetroPie Menu Background Music
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/opt/retropie/supplementary/retropie-music
ExecStart=/usr/bin/ruby /opt/retropie/supplementary/retropie-music/music.rb
Restart=always

[Install]
WantedBy=multi-user.target
