[Unit]
Description=RetroPie Menu Background Music

[Service]
User=pi
WorkingDirectory=/opt/retropie/supplementary/retropie-music
ExecStart=/usr/bin/python3 /opt/retropie/supplementary/retropie-music/music.py
Restart=always

[Install]
WantedBy=multi-user.target
